









































{{!-- <h2>{{title}}</h2>
{{#if isEditing}}
  {{input value=bodyText placeholder="edit the body text"}}
{{else}}
  <p>{{bodyText}}</p>
{{/if}}
<button {{action 'editing'}}>Edit</button>
<button {{action 'save' this}}>Save Me</button>

{{yield}} --}}
