{{partial 'nav'}}
<nav class="outer-nav left vertical">

  {{weather-searchbar transitionToLocation="transitionToLocationHandler"
                      placeholder="Search for a city anywhere"}}

  <ul class="no-bullet">
    {{#each model}}
      <li><a {{action 'link' this}}>{{name}}</a></li>
    {{/each}}
  </ul>

</nav>

<div class="container" {{action 'menuClose' on="click"}}>
  {{yield}}
</div>

