
{{partial 'nav'}}
<nav class="outer-nav left vertical">

  {{weather-searchbar transitionToLocation="transitionToLocationHandler"
                      placeholder="Search for a city anywhere"}}

  {{#each model}}
    <a {{action 'link' this}}>{{name}}</a>
  {{/each}}

</nav>

<div class="container">
  {{yield}}
</div>

