<div class="weather-panel bg">
  <div class="small-12 columns">
    <h1>{{weather.name}}</h1>

    {{#if saved}}
      <a class='save-location' {{action 'removeLocation' weather}}>Remove Location</a>
    {{else}}
      <a class='save-location' {{action 'saveLocation' weather}}>Save Location</a>
    {{/if}}
  </div>
  <div class="attribution">
    photo by: {{photographer-link weather.photographer}}
  </div>
</div>

<div class="weather-stript">
  {{weather-current-details weather=weather}}
  <div class="forecast">
    {{hourly-forecast hourlyWeather=weather.hourlyForecast timezone=weather.timezone}}
    {{weather-forecast forecast=weather.forecast timezone=weather.timezone}}
  </div>
</div>
