<ul class='no-bullet'>
  {{log weather.timezone}}
  {{#each d in days}}
    <li>
      <div class="label round">
        {{date-formatter d.time timezone}}
      </div>
      {{icon-name d.icon}}
      <span class="high"><small>high</small> {{whole-number d.temperatureMax}}&deg;</span>
      <span class="low"><small>low</small> {{whole-number d.temperatureMin}}&deg;</span>
    </li>
  {{/each}}
</ul>
