<section role="main" id='bg' class='bg'></section>

<div class="weather-panel bg">
  <div class="small-12 columns">
    <h1>{{weather.name}}</h1>

    {{#if saved}}
      <a {{action 'removeLocation' weather}}>Remove Location</a>
    {{else}}
      <a {{action 'saveLocation' weather}}>Save Location</a>
    {{/if}}
  </div>
  <div class="attribution">
    photo by: {{photographer-link weather.photographer}}
  </div>
</div>

<div class="weather-stript">
  {{weather-current-details weather=weather}}
  <div class="forcast">
    {{weather-forecast forecast=weather.weatherForecast}}
  </div>
</div>
