<section role="main" id='bg' class='bg'></section>
<div class="weather-panel bg">
  <div class="small-12 columns">
    <h1>{{weather.location}}</h1>
    <a {{action 'saveLocation' weather}}>Save Location</a>
  </div>
</div>
<div class="weather-stript">
  <div class="current-details">
    <div class="temp-date">
      <div class="temp">
        {{weatherDetails.tempF}}
        &deg;
      </div>
      <div class="display-date">
        {{weather.displayDate}}
      </div>
    </div>
    <div class="icon-wind">
      <div class="large-icon">
        {{icon-name weatherDetails.icon}}
      </div>
      <div class="text-center">
        <span {{bind-attr class="weather.windDirection"}}></span>{{weather.windDirection}}
        |
        {{weatherDetails.wind_gust_mph}}mph
      </div>
    </div>
  </div>

  {{weather-forecast days=weather.eightDays}}
</div>


