<nav>
  <div class="title-area">Ember Weather</div>
  {{link-to 'Seattle' 'seattle'}}
  {{link-to 'Auckland' 'auckland'}}
  {{link-to 'Locations' 'locations'}}
  {{link-to 'Vancouver' 'vancouver'}}
</nav>

{{outlet}}






































































{{!--
<h1>Hello Ember</h2>

<ul class="inline-list">
<li>
    {{#link-to "static.seattle"}}Seattle{{/link-to}}
</li>
<li>
    {{#link-to 'static.honolulu'}}Honolulu{{/link-to}}
</li>

</ul>
{{outlet}}
 --}}
